@import url(//db.onlinewebfonts.com/c/640850c0965fa5449af39df95c9970de?family=Hans+Kendrick+V4);

* {
    box-sizing: border-box;
}

a, h1,img {
    transition: all .1s ease-in-out;
    text-decoration: none;
}

body {
    background-color: #e2e7ec;
    font-family: "Hans Kendrick V4";
}

.container {
    width: 1120px;
    margin: 50px auto;
}

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide1 {
    width: 740px;
    height: 540px;
    position: relative;
    margin-top: 20px;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff00, #62626200 30%, rgba(0, 0, 0));
    position: absolute;
}

.slide1 img {
    position: absolute;
    z-index: -5;
}

.slide1__footer {
    position: absolute;
    bottom: 0;
    margin: 0 0 40px 40px;
    max-width: 520px;
}

.slide1 p {
    font-family: "Hans Kendrick V4";
    font-size: 13px;
    color: #818181;
    text-transform: uppercase;
    margin-bottom: 20px;
}
  
.slide1 h1  {
    font-size: 30px;
    font-family: "Hans Kendrick V4";
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
}

.slide2 {
    width: 360px;
    height: 540px;
    position: relative;
    background-color: #fff;
    margin-top: 20px;
}

.slide2 div a img {
    width: 360px;
    height: 251px;
}

.slide2 div a:hover img {
    opacity: 0.8;
}

.slide2:hover {
    box-shadow: 0 0 5px rgba(141, 141, 141, 0.658);
}

.slide2__footer {
    padding: 30px 25px;
}
  
.slide2 p {
    font-family: "Hans Kendrick V4";
    font-size: 13px;
    color: #818181;
    text-transform: uppercase;
    
    margin: 0;
    margin-bottom: 20px;
}
  
.slide2 h1  {
    font-size: 22px;
    color: #1d1d1d;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
}

.slide2__bottom-foto {
    position: absolute;
    bottom: 25px;
    left: 25px;
    float: left;
    border-radius: 50%;
}

a:hover .slide2__bottom-foto {
    box-shadow: 0 0 18px #90f81a;
}

.news a:hover h1 {
    text-shadow: 1px 1px 3px #8693a0;
}

.load {
text-align: center;
color: #99a5b0;
font-size: 13px;
margin-top: 70px;
display: flex;
justify-content: center;

}

.load div {
    margin-left: 15px;
    display: flex;
    align-items: center;
}